In [2]:
import numpy as np
import pandas as pd

In [3]:
fam_08 = pd.read_stata('cf08a_2p_EN/cf08a_2p_EN.dta')
fam_10 = pd.read_stata('cf10c_EN_1.0p/cf10c_EN_1.0p.dta')
fam_12 = pd.read_stata('cf12e_EN_2.1p/cf12e_EN_2.1p.dta')
fam_14 = pd.read_stata('cf14g_EN_1.1p/cf14g_EN_1.1p.dta')
fam_16 = pd.read_stata('cf16i_EN_1.0p/cf16i_EN_1.0p.dta')
fam_18 = pd.read_stata('cf18k_EN_1.0p/cf18k_EN_1.0p.dta')
fam_20 = pd.read_stata('cf20m_EN_1.0p/cf20m_EN_1.0p.dta')
fam_22 = pd.read_stata('cf22o_EN_1.0p/cf22o_EN_1.0p.dta')

In [5]:
fam_all = [fam_08, fam_10, fam_12, fam_14, fam_16, fam_18, fam_20]

fam_merged = fam_all[0]

for fam in fam_all[1:]:
    fam_merged = pd.merge(fam_merged, fam, on='nomem_encr', how='inner')

In [6]:
fam_merged.head()

,nomem_encr,nohouse_encr_x,cf08a_m,cf08a001,cf08a002,cf08a003,cf08a004,cf08a005,cf08a006,cf08a007,...,cf20m388,cf20m389,cf20m390,cf20m391,cf20m392,cf20m393,cf20m394,cf20m395,cf20m396,cf20m397
0,800119.0,537783.0,200803.0,not applicable,NaN,female,57.0,1908.0,NaN,no,...,1 = certainly not,5 = certainly yes,5 = certainly yes,5 = certainly yes,5 = certainly yes,16-09-2020,13:55:55,16-09-2020,13:58:54,179.0
1,800170.0,520571.0,200803.0,3.0,1999.0,female,49.0,1926.0,NaN,yes,...,1 = certainly not,5 = certainly yes,3.0,5 = certainly yes,5 = certainly yes,14-09-2020,07:29:52,14-09-2020,07:34:55,303.0
2,800186.0,534976.0,200803.0,not applicable,NaN,female,68.0,1909.0,NaN,no,...,1 = certainly not,4.0,4.0,4.0,4.0,08-09-2020,16:29:42,08-09-2020,16:32:33,171.0
3,800201.0,529760.0,200803.0,not applicable,NaN,male,34.0,1948.0,NaN,yes,...,2.0,4.0,2.0,4.0,3.0,07-09-2020,19:55:29,07-09-2020,21:34:27,5938.0
4,800204.0,555221.0,200803.0,not applicable,NaN,male,66.0,I don't know,1910-1920,I don't know,...,1 = certainly not,5 = certainly yes,3.0,4.0,4.0,14-09-2020,13:01:15,14-09-2020,13:13:24,729.0