In [1]:
import numpy as np
import pandas as pd

In [2]:
inc_08 = pd.read_stata('ci08a_1.0p_EN.dta')
inc_10 = pd.read_stata('ci10c_EN_1.0p.dta')
inc_12 = pd.read_stata('ci12e_1.0p_EN.dta')
inc_14 = pd.read_stata('ci14g_1.0p_EN.dta')
inc_16 = pd.read_stata('ci16i_EN_3.0p.dta')
inc_18 = pd.read_stata('ci18k_EN_2.0p.dta')
inc_20 = pd.read_stata('ci20m_EN_1.0p.dta')
inc_22 = pd.read_stata('ci22o_EN_1.0p.dta')

In [3]:
inc_all = [inc_08, inc_10, inc_12, inc_14, inc_16, inc_18, inc_20, inc_22]

inc_merged = inc_all[0]

for inc in inc_all[1:]:
    inc_merged = pd.merge(inc_merged, inc, on='nomem_encr', how='inner')

In [4]:
inc_merged.head()

,nomem_encr,nohouse_encr_x,ci08a_m,ci08a001,ci08a002,ci08a003,ci08a004,ci08a005,ci08a006,ci08a007,...,ci22o313,ci22o314,ci22o315,ci22o316,ci22o317,ci22o318,ci22o319,ci22o320,ci22o321,ci22o322
0,800170.0,520571.0,200806.0,Household head*,49.0,yes,"yes, works",8.0,7,6,...,1 = certainly not,5 = certainly yes,3.0,5 = certainly yes,5 = certainly yes,07-06-2022,03:22:26,07-06-2022,03:32:54,628.0
1,800186.0,534976.0,200806.0,Wedded partner,69.0,yes,"no, does not work",8.0,8,7,...,2.0,2.0,4.0,4.0,4.0,06-06-2022,14:48:05,06-06-2022,15:02:47,882.0
2,800201.0,529760.0,200806.0,Wedded partner,34.0,yes,"yes, works",8.0,8,8,...,4.0,3.0,3.0,4.0,2.0,08-06-2022,13:22:14,08-06-2022,13:30:23,489.0
3,800204.0,555221.0,200806.0,Household head*,66.0,yes,"no, does not work",8.0,7,5,...,5 = certainly yes,5 = certainly yes,4.0,4.0,4.0,27-06-2022,11:22:57,27-06-2022,11:36:00,783.0
4,800360.0,547378.0,200806.0,Household head*,56.0,yes,"yes, works",8.0,8,7,...,3.0,4.0,3.0,3.0,3.0,07-06-2022,21:46:15,07-06-2022,21:56:31,616.0