In [1]:
import numpy as np
import pandas as pd

In [2]:
hea_10 = pd.read_stata('ch10d_EN_1.0p.dta')
rel_10 = pd.read_stata('cr10c_EN_2.0p.dta')
soc_10 = pd.read_stata('cs10c_1p_EN.dta')
fam_10 = pd.read_stata('cf10c_EN_1.0p.dta')
wor_10 = pd.read_stata('cw10c_EN_1.0p.dta')
per_10 = pd.read_stata('cp10c_1.0p_EN.dta')
val_10 = pd.read_stata('cv10c_EN_1.0p.dta')
ass_10 = pd.read_stata('ca10b_EN_1.0p.dta')
inc_10 = pd.read_stata('ci10c_EN_1.0p.dta')
hou_10 = pd.read_stata('cd10c_EN_1.1p.dta')

In [3]:
all_10 = [ass_10, hou_10, fam_10, hea_10, inc_10, per_10, soc_10, val_10, wor_10]

merged_10 = all_10[0]

for all in all_10[1:]:
    merged_10 = pd.merge(merged_10, all, on='nomem_encr', how='inner')

/var/folders/sf/kd52hmj913198w2y6076lcw80000gn/T/ipykernel_25649/1470168863.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'nohouse_encr_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_10 = pd.merge(merged_10, all, on='nomem_encr', how='inner')
/var/folders/sf/kd52hmj913198w2y6076lcw80000gn/T/ipykernel_25649/1470168863.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'nohouse_encr_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_10 = pd.merge(merged_10, all, on='nomem_encr', how='inner')
/var/folders/sf/kd52hmj913198w2y6076lcw80000gn/T/ipykernel_25649/1470168863.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'nohouse_encr_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_10 = pd.merge(merged_10, all, on='nomem_encr', how='inner')

In [4]:
merged_10.head()

,nomem_encr,nohouse_encr_x,ca10b_m,ca10b001,ca10b002,ca10b003,ca10b076,ca10b077,ca10b078,ca10b005,...,cw10c496,cw10c497,cw10c498,cw10c499,cw10c500,cw10c501,cw10c502,cw10c503,cw10c504,cw10c505
0,829547.0,569088.0,201006.0,yes,no,married partner,NaN,NaN,yes,yes,...,certainly not,4,4,2,certainly not,28-4-2010,19:49:40,28-4-2010,19:58:38,NaN
1,877117.0,573492.0,201006.0,yes,yes,married partner,NaN,NaN,yes,no,...,certainly not,certainly yes,3,4,certainly yes,24-4-2010,11:41:17,24-4-2010,11:49:48,NaN
2,806234.0,543774.0,201006.0,yes,yes,married partner,NaN,NaN,yes,no,...,certainly not,certainly yes,2,3,3,20-4-2010,10:07:18,20-4-2010,10:14:24,NaN
3,867700.0,532952.0,201006.0,yes,no,married partner,NaN,NaN,yes,no,...,4,3,4,4,3,11-4-2010,12:03:25,11-4-2010,12:30:23,NaN
4,886712.0,529281.0,201006.0,yes,yes,head of household*,NaN,NaN,yes,no,...,2,3,2,2,2,6-4-2010,21:29:12,6-4-2010,21:49:35,NaN