In [1]:
import numpy as np
import pandas as pd

In [2]:
hea_14 = pd.read_stata('ch13g_EN_1.0p.dta')
rel_14 = pd.read_stata('cr14g_1.0p_EN.dta')
soc_14 = pd.read_stata('cs14g_EN_2.0.dta')
fam_14 = pd.read_stata('cf14g_EN_1.1p.dta')
wor_14 = pd.read_stata('cw14g_EN_1.0p.dta')
per_14 = pd.read_stata('cp14g_EN_1.0p.dta')
val_14 = pd.read_stata('cv14g_EN_1.0p.dta')
ass_14 = pd.read_stata('ca14d_2.0p_EN.dta')
inc_14 = pd.read_stata('ci14g_1.0p_EN.dta')
hou_14 = pd.read_stata('cd14g_EN_1.1p.dta')

# no 2014 for health

In [4]:
all_14 = [ass_14, hou_14, fam_14, hea_14, inc_14, per_14, soc_14, val_14, wor_14]

merged_14 = all_14[0]

for all in all_14[1:]:
    merged_14 = pd.merge(merged_14, all, on='nomem_encr', how='inner')

In [5]:
merged_14.head()

,nomem_encr,ca14d_m,ca14d001,ca14d002,ca14d003,ca14d082,ca14d078,ca14d005,ca14d006,ca14d007,...,cw14g496,cw14g497,cw14g498,cw14g499,cw14g500,cw14g501,cw14g502,cw14g503,cw14g504,cw14g505
0,800015.0,201410.0,yes,yes,head of household*,51.0,yes,no,no,no,...,1 = certainly not,5 = certainly yes,3,3,1 = certainly not,07-04-2014,76662.0,07-04-2014,78270.0,1608.0
1,800057.0,201410.0,no,no,unmarried partner,39.0,yes,no,no,yes,...,4,3,2,1 = certainly not,1 = certainly not,28-04-2014,47803.0,28-04-2014,48500.0,697.0
2,800170.0,201410.0,no,yes,head of household*,56.0,yes,no,no,no,...,2,5 = certainly yes,3,5 = certainly yes,5 = certainly yes,08-04-2014,58793.0,08-04-2014,60290.0,1497.0
3,800186.0,201410.0,no,yes,head of household*,75.0,yes,no,no,no,...,4,4,4,4,5 = certainly yes,07-04-2014,79553.0,07-04-2014,79851.0,298.0
4,800198.0,201410.0,yes,yes,head of household*,58.0,yes,yes,yes,no,...,1 = certainly not,5 = certainly yes,2,3,3,07-04-2014,68500.0,07-04-2014,70004.0,1504.0