In [1]:
import numpy as np
import pandas as pd

In [2]:
hea_18 = pd.read_stata('ch18k_EN_1.0p.dta')
rel_18 = pd.read_stata('cr18k_EN_1.0p.dta')
soc_18 = pd.read_stata('cs18k_EN_1.0p.dta')
fam_18 = pd.read_stata('cf18k_EN_1.0p.dta')
wor_18 = pd.read_stata('cw18k_EN_2.0p.dta')
per_18 = pd.read_stata('cp18j_EN_1.0p.dta')
val_18 = pd.read_stata('cv18j_EN_1.0p.dta')
ass_18 = pd.read_stata('ca18f_EN_1.0p.dta')
inc_18 = pd.read_stata('ci18k_EN_2.0p.dta')
hou_18 = pd.read_stata('cd18k_EN_1.0p.dta')

In [3]:
all_18 = [ass_18, hou_18, fam_18, hea_18, inc_18, per_18, soc_18, val_18, wor_18]

merged_18 = all_18[0]

for all in all_18[1:]:
    merged_18 = pd.merge(merged_18, all, on='nomem_encr', how='inner')

In [4]:
merged_18.head()

,nomem_encr,ca18f_m,ca18f001,ca18f002,ca18f003,ca18f082,ca18f078,ca18f005,ca18f006,ca18f007,...,cw18k496,cw18k497,cw18k498,cw18k499,cw18k500,cw18k501,cw18k502,cw18k503,cw18k504,cw18k505
0,800015.0,201810.0,yes,yes,head of household*,55.0,yes,no,no,no,...,1 = certainly not,5 = certainly yes,4,4,3,09-04-2018,09:48:32,09-04-2018,10:12:09,1417.0
1,800054.0,201810.0,no,yes,head of household*,72.0,no,no,no,no,...,1 = certainly not,5 = certainly yes,3,3,3,16-04-2018,15:54:08,16-04-2018,15:57:56,228.0
2,800073.0,201810.0,NaN,NaN,unknown,NaN,yes,no,no,no,...,5 = certainly yes,3,2,1 = certainly not,2,05-04-2018,06:13:19,05-04-2018,06:29:00,941.0
3,800161.0,201810.0,yes,yes,head of household*,48.0,yes,yes,yes,no,...,4,5 = certainly yes,2,3,3,03-04-2018,16:26:05,06-04-2018,08:51:15,231910.0
4,800170.0,201810.0,no,yes,head of household*,59.0,yes,no,no,no,...,1 = certainly not,5 = certainly yes,4,5 = certainly yes,5 = certainly yes,10-04-2018,16:59:41,10-04-2018,17:25:45,1564.0