In [1]:
import numpy as np
import pandas as pd

In [2]:
hea_08 = pd.read_stata('ch08b_EN_1.3p.dta')
rel_08 = pd.read_stata('cr08a_EN_2.0p.dta')
soc_08 = pd.read_stata('cs08a_2p_EN.dta')
fam_08 = pd.read_stata('cf08a_2p_EN.dta')
wor_08 = pd.read_stata('cw08a_1p_NL.dta')
per_08 = pd.read_stata('cp08a_1p_EN.dta')
val_08 = pd.read_stata('cv08a_1.1p_EN.dta')
ass_08 = pd.read_stata('ca08a_1.0p_EN.dta')
inc_08 = pd.read_stata('ci08a_1.0p_EN.dta')
hou_08 = pd.read_stata('cd08a_EN_1.2p.dta')

ValueError:
Value labels for column cw08a005 are not unique. These cannot be converted to
pandas categoricals.

Either read the file with `convert_categoricals` set to False or use the
low level interface in `StataReader` to separately read the values and the
value_labels.

The repeated labels are:
--------------------------------------------------------------------------------
wetenschappelijk onderwijs (incl. technische en economische hogeschool oude stij

In [3]:
all_08 = [ass_08, hou_08, fam_08, hea_08, inc_08, per_08, soc_08, val_08, wor_08]

merged_08 = all_08[0]

for all in all_08[1:]:
    merged_08 = pd.merge(merged_08, all, on='nomem_encr', how='inner')

/var/folders/sf/kd52hmj913198w2y6076lcw80000gn/T/ipykernel_25649/1470168863.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'nohouse_encr_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_10 = pd.merge(merged_10, all, on='nomem_encr', how='inner')
/var/folders/sf/kd52hmj913198w2y6076lcw80000gn/T/ipykernel_25649/1470168863.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'nohouse_encr_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_10 = pd.merge(merged_10, all, on='nomem_encr', how='inner')
/var/folders/sf/kd52hmj913198w2y6076lcw80000gn/T/ipykernel_25649/1470168863.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'nohouse_encr_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_10 = pd.merge(merged_10, all, on='nomem_encr', how='inner')

In [4]:
merged_08.head()

,nomem_encr,nohouse_encr_x,ca10b_m,ca10b001,ca10b002,ca10b003,ca10b076,ca10b077,ca10b078,ca10b005,...,cw10c496,cw10c497,cw10c498,cw10c499,cw10c500,cw10c501,cw10c502,cw10c503,cw10c504,cw10c505
0,829547.0,569088.0,201006.0,yes,no,married partner,NaN,NaN,yes,yes,...,certainly not,4,4,2,certainly not,28-4-2010,19:49:40,28-4-2010,19:58:38,NaN
1,877117.0,573492.0,201006.0,yes,yes,married partner,NaN,NaN,yes,no,...,certainly not,certainly yes,3,4,certainly yes,24-4-2010,11:41:17,24-4-2010,11:49:48,NaN
2,806234.0,543774.0,201006.0,yes,yes,married partner,NaN,NaN,yes,no,...,certainly not,certainly yes,2,3,3,20-4-2010,10:07:18,20-4-2010,10:14:24,NaN
3,867700.0,532952.0,201006.0,yes,no,married partner,NaN,NaN,yes,no,...,4,3,4,4,3,11-4-2010,12:03:25,11-4-2010,12:30:23,NaN
4,886712.0,529281.0,201006.0,yes,yes,head of household*,NaN,NaN,yes,no,...,2,3,2,2,2,6-4-2010,21:29:12,6-4-2010,21:49:35,NaN