In [1]:
import numpy as np
import pandas as pd

In [2]:
hea_12 = pd.read_stata('ch12f_EN_1.0p.dta')
rel_12 = pd.read_stata('cr12e_1.0p_EN.dta')
soc_12 = pd.read_stata('cs12e_1.0p_EN.dta')
fam_12 = pd.read_stata('cf12e_EN_2.1p.dta')
wor_12 = pd.read_stata('cw12e_EN_1.0p.dta')
per_12 = pd.read_stata('cp12e_1.0p_EN.dta')
val_12 = pd.read_stata('cv12e_EN_1.0p.dta')
ass_12 = pd.read_stata('ca12c_EN_1.0p.dta')
inc_12 = pd.read_stata('ci12e_1.0p_EN.dta')
hou_12 = pd.read_stata('cd12e_EN_1.0p.dta')

In [3]:
all_12 = [ass_12, hou_12, fam_12, hea_12, inc_12, per_12, soc_12, val_12, wor_12]

merged_12 = all_12[0]

for all in all_12[1:]:
    merged_12 = pd.merge(merged_12, all, on='nomem_encr', how='inner')

In [4]:
merged_12.head()

,nomem_encr,ca12c_m,ca12c001,ca12c002,ca12c003,ca12c082,ca12c078,ca12c005,ca12c006,ca12c007,...,cw12e496,cw12e497,cw12e498,cw12e499,cw12e500,cw12e501,cw12e502,cw12e503,cw12e504,cw12e505
0,800170.0,201206.0,yes,yes,head of household*,53.0,yes,no,no,no,...,3,5 = certainly yes,3,5 = certainly yes,5 = certainly yes,06-04-2012,14:55:10.00,06-04-2012,15:07:36.00,746.0
1,800186.0,201206.0,yes,no,married partner,73.0,yes,no,no,no,...,1 = certainly not,4,4,4,5 = certainly yes,09-04-2012,14:03:55.00,09-04-2012,14:08:35.00,280.0
2,800198.0,201206.0,yes,yes,head of household*,55.0,yes,no,no,yes,...,1 = certainly not,5 = certainly yes,1 = certainly not,3,2,11-04-2012,17:18:19.00,11-04-2012,18:02:01.00,2622.0
3,800201.0,201206.0,yes,yes,married partner,38.0,yes,no,no,no,...,5 = certainly yes,2,3,3,2,03-04-2012,19:35:33.00,03-04-2012,19:54:09.00,1116.0
4,800204.0,201206.0,yes,no,head of household*,70.0,yes,no,no,no,...,1 = certainly not,5 = certainly yes,1 = certainly not,2,3,17-04-2012,13:25:46.00,17-04-2012,13:36:24.00,638.0