In [1]:
import pandas as pd
import pyreadstat as ps

In [2]:
auto, meta = ps.read_sav('MPNWAVE8_AUTOdata.sav')

In [4]:
auto.head()

,HHID,HH_VALID,IMPHHDATA,DEELNAMEHH,JAAR,HHAUTO_N,KENTEKENS_INGEVULD,AUTO1,AUTO1_BRANDSTOF_A_w6,AUTO1_BRANDSTOF_B_w6,...,AUTO5_HLID9,AUTO5_HLID10,AUTO5_HLID11,AUTO5_HLID12,AUTO5_HLID13,KAUTO1_BOUWJAAR,KAUTO2_BOUWJAAR,KAUTO3_BOUWJAAR,KAUTO4_BOUWJAAR,KAUTO5_BOUWJAAR
0,30000715.0,1.0,2.0,2017.0,2019.0,1.0,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2013.0,NaN,NaN,NaN,NaN
1,30001201.0,2.0,2.0,2017.0,2019.0,2.0,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2013.0,2008.0,NaN,NaN,NaN
2,30001210.0,2.0,2.0,2013.0,2019.0,1.0,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
3,30001492.0,2.0,2.0,2017.0,2019.0,1.0,1.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2012.0,NaN,NaN,NaN,NaN
4,30001531.0,2.0,2.0,2017.0,2019.0,1.0,1.0,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,2009.0,NaN,NaN,NaN,NaN

In [3]:
selected_columns = {
    'HHID': 'Household ID',
    'JAAR': 'Research year',
    'HHAUTO_N': 'Number of cars per hh',
    'AUTO1': 'First car hh',
    'AUTO1_BRANDSTOF_A_w6': 'Fuel type 1st car',
    'AUTO1_KM': 'Annual number of kilometres 1st car',
    'AUTO1_AANSCHAF': 'Purchase 1st car',
    'AUTO1_BIJTELLING_w5': 'If a company car: additional (tax) liability category for the 1st car',
    'AUTO1_HFDGBR': 'Main user of 1st car',
    'AUTO1_GEWMAX': 'MAX vehicle weight 1st car',
    'AUTO1_INRICHT': 'Vehicle type of 1st car',
    'AUTO1_PRIVE': 'If a company car: private use of this car',
    'AUTO1_HLID1': 'HH member 1 uses 1st car at least once a month',
    'AUTO1_HLID2': 'HH member 2 uses 1st car at least once a month'
}

auto_selected = auto[list(selected_columns.keys())]
auto_selected.columns = list(selected_columns.values())
print(auto_selected.head())

   Household ID  Research year  Number of cars per hh  First car hh  \
0    30000715.0         2019.0                    1.0           1.0
1    30001201.0         2019.0                    2.0           1.0
2    30001210.0         2019.0                    1.0           1.0
3    30001492.0         2019.0                    1.0           1.0
4    30001531.0         2019.0                    1.0           1.0

   Fuel type 1st car  Annual number of kilometres 1st car  Purchase 1st car  \
0                1.0                                  2.0               1.0
1                1.0                                  4.0               1.0
2                1.0                                  1.0               1.0
3                2.0                                  2.0               1.0
4                1.0                                  1.0               1.0

   If a company car: additional (tax) liability category for the 1st car  \
0                                            99998.0
1                                            99998.0
2                                            99998.0
3                                            99998.0
4                                            99998.0

   Main user of 1st car  MAX vehicle weight 1st car  Vehicle type of 1st car  \
0                   2.0                      1765.0                      5.0
1                   2.0                      1560.0                      8.0
2                   1.0                      1345.0                      5.0
3                   1.0                      2080.0                      8.0
4                   1.0                      2505.0                      8.0

   If a company car: private use of this car  \
0                                       97.0
1                                       97.0
2                                       97.0
3                                       97.0
4                                       97.0

   HH member 1 uses 1st car at least once a month  \
0                                             1.0
1                                             1.0
2                                             1.0
3                                             1.0
4                                             1.0

   HH member 2 uses 1st car at least once a month
0                                             1.0
1                                             1.0
2                                             NaN
3                                             NaN
4                                             0.0