In [1]:
import pandas as pd
import pyreadstat as ps
from functools import reduce

In [2]:
og_aut, aut_meta = ps.read_sav('MPNWAVE8_AUTOdata.sav')
og_dab, dab_meta = ps.read_sav('MPNWAVE8_DAGBOEKdata.sav')
og_dag, dag_meta = ps.read_sav('MPNWAVE8_DAGdata.sav')
og_hhd, hhd_meta = ps.read_sav('MPNWAVE8_HHdata.sav')
og_pda, pda_meta = ps.read_sav('MPNWAVE8_Pdata.sav')
og_pbz, pbz_meta = ps.read_sav('MPNWAVE8_Pdata_bijzonder.sav')
og_wee, wee_meta = ps.read_sav('MPNWAVE8_weegfactoren.sav')

In [3]:
# aut cleaned
aut_dropcols = ['KENTEKENS_INGEVULD', 'AUTO1_BRANDSTOF_A_w6', 'AUTO1_BRANDSTOF_B_w6', 'AUTO1_BIJTELLING_w5', 'AUTO1_GEWMAX', 'AUTO1_GEWLEEG',  'AUTO1_HLID5', 'AUTO1_HLID6', 'AUTO1_HLID7', 'AUTO1_HLID8', 'AUTO1_HLID9', 'AUTO1_HLID10', 'AUTO1_HLID11', 'AUTO1_HLID12', 'AUTO1_HLID13', 'AUTO2_BRANDSTOF_A_w6', 'AUTO2_BRANDSTOF_B_w6', 'AUTO2_BIJTELLING_w5','AUTO2_GEWMAX', 'AUTO2_GEWLEEG', 'AUTO2_HLID5', 'AUTO2_HLID6', 'AUTO2_HLID7', 'AUTO2_HLID8', 'AUTO2_HLID9', 'AUTO2_HLID10', 'AUTO2_HLID11', 'AUTO2_HLID12', 'AUTO2_HLID13', 'AUTO3_BRANDSTOF_A_w6', 'AUTO3_BRANDSTOF_B_w6', 'AUTO3_BIJTELLING_w5', 'AUTO3_GEWMAX', 'AUTO3_GEWLEEG', 'AUTO3_HLID5', 'AUTO3_HLID6', 'AUTO3_HLID7', 'AUTO3_HLID8', 'AUTO3_HLID9', 'AUTO3_HLID10', 'AUTO3_HLID11', 'AUTO3_HLID12','AUTO3_HLID13','AUTO4_GEWLEEG', 'AUTO4_BRANDSTOF_A_w6', 'AUTO4_BRANDSTOF_B_w6', 'AUTO4_BIJTELLING_w5','AUTO4_HLID5', 'AUTO4_HLID6', 'AUTO4_HLID7', 'AUTO4_HLID8', 'AUTO4_HLID9', 'AUTO4_HLID10', 'AUTO4_HLID11', 'AUTO4_HLID12', 'AUTO4_HLID13', 'AUTO5_BRANDSTOF_A_w6', 'AUTO5_BRANDSTOF_B_w6', 'AUTO5_BIJTELLING_w5', 'AUTO5_GEWMAX', 'AUTO5_GEWLEEG', 'AUTO5_HLID5', 'AUTO5_HLID6', 'AUTO5_HLID7', 'AUTO5_HLID8', 'AUTO5_HLID9', 'AUTO5_HLID10', 'AUTO5_HLID11', 'AUTO5_HLID12', 'AUTO5_HLID13',]
aut_80nan = og_aut.columns[og_aut.isna().mean() > 0.8].tolist()
aut_drop = aut_dropcols + aut_80nan
aut = og_aut.drop(columns=aut_drop, axis=1)

In [4]:
# dab cleaning
dab_dropcols = []
dab_80nan = og_dab.columns[og_dab.isna().mean() > 0.8].tolist()
dab_drop = dab_dropcols + dab_80nan
dab = og_dab.drop(columns=dab_drop, axis=1)

In [5]:
# dag cleaning
dag_dropcols = []
dag_80nan = og_dag.columns[og_dag.isna().mean() > 0.8].tolist()
dag_drop = dag_dropcols + dag_80nan
dag = og_dag.drop(columns=dag_drop, axis=1)

In [6]:
# hhd cleaned

hhd_dropcols = ['PROV', 'HHMOTOR', 'HHBROM', 'HHSNOR', 'HHFIETS', 'HHVOUWFIETS', 'HHEBIKE', 'HHPEDEL', 'HHSCOOT', 'HHOVG', 'HHGEEN', 'KENTEKENINFO', 'woonpc2']
hhd_80nan = og_hhd.columns[og_hhd.isna().mean() > 0.8].tolist()
hhd_drop = hhd_dropcols + hhd_80nan
hhd = og_hhd.drop(columns=hhd_drop, axis=1)

# hhd = hhd.drop(hhd[hhd['COROP'] != 23].index) # Greater-Amsterdam
# hhd = hhd.drop(hhd[hhd['STED_GM'] != 1].index) # high urbanization

In [7]:
#pda cleaning

pda_dropcols = ['HH_VALID']
pda_80nan = og_pda.columns[og_pda.isna().mean() > 0.8].tolist()
pda_drop = pda_dropcols + pda_80nan
pda = og_pda.drop(columns=pda_drop, axis=1)

In [8]:
#pbz cleaned
pbz_dropcols = ['OORDEEL_TREIN', 'OORDEEL_BTM', 'OORDEEL_FIETS', 'OORDEEL_BROMMER', 'OORDEEL_LOPEN', 'OORDEEL_VLIEGTUIG', 'GEBRUIK_TREIN_STELLING1', 'GEBRUIK_TREIN_STELLING2', 'GEBRUIK_TREIN_STELLING3', 'GEBRUIK_TREIN_STELLING4', 'GEBRUIK_TREIN_STELLING5', 'GEBRUIK_TREIN_STELLING6', 'GEBRUIK_TREIN_STELLING7', 'GEBRUIK_BTM_STELLING1', 'GEBRUIK_BTM_STELLING2', 'GEBRUIK_BTM_STELLING3', 'GEBRUIK_BTM_STELLING4', 'GEBRUIK_BTM_STELLING5', 'GEBRUIK_BTM_STELLING6', 'GEBRUIK_BTM_STELLING7', 'GEBRUIK_FIETS_STELLING1', 'GEBRUIK_FIETS_STELLING2', 'GEBRUIK_FIETS_STELLING3', 'GEBRUIK_FIETS_STELLING4', 'GEBRUIK_FIETS_STELLING5', 'GEBRUIK_FIETS_STELLING6', 'GEBRUIK_FIETS_STELLING7', 'GEBRUIK_LOPEN_STELLING1', 'GEBRUIK_LOPEN_STELLING2', 'GEBRUIK_LOPEN_STELLING3', 'GEBRUIK_LOPEN_STELLING4', 'GEBRUIK_LOPEN_STELLING5', 'GEBRUIK_LOPEN_STELLING6', 'GEBRUIK_LOPEN_STELLING7', 'VVM_TOEKOMST_ANDERS_TREIN', 'VVM_TOEKOMST_ANDERS_BTM', 'VVM_TOEKOMST_ANDERS_FIETS', 'VVM_TOEKOMST_ANDERS_BROM', 'VVM_TOEKOMST_ANDERS_LOPEN', 'VVM_TOEKOMST_ANDERS_VLIEGTUIG', 'COR_OV_VOORHEEN_TREIN', 'COR_OV_VOORHEEN_BTM', 'COR_BTM_SUBST_1', 'COR_BTM_SUBST_2', 'COR_BTM_SUBST_5', 'COR_TREIN_SUBST_1', 'COR_TREIN_SUBST_2', 'COR_TREIN_SUBST_4', 'COR_OV_SUBST_FIETS_ERV_S1', 'COR_OV_SUBST_FIETS_ERV_S2', 'COR_OV_SUBST_FIETS_ERV_S3', 'COR_OV_SUBST_BROM_ERV_S1', 'COR_OV_SUBST_BROM_ERV_S2', 'COR_OV_SUBST_BROM_ERV_S3', 'COR_OV_SUBST_LOOP_ERV_S1', 'COR_OV_SUBST_LOOP_ERV_S2', 'COR_OV_SUBST_LOOP_ERV_S3']
pbz_80nan = og_pbz.columns[og_pbz.isna().mean() > 0.8].tolist()
pbz_drop = pbz_dropcols + pbz_80nan
pbz = og_pbz.drop(columns=pbz_drop, axis=1)

In [9]:
all = [aut, dab, dag, hhd, pbz]

In [10]:
for i, df in enumerate(all):
    if not isinstance(df, (pd.DataFrame, pd.Series)):
        print(f"Element {i} is of type {type(df)}, not a Pandas DataFrame or Series.")

In [11]:
merged = pd.concat(all, join='inner', axis=1).fillna(0)
merged = merged.loc[:, ~merged.columns.duplicated()] # drop duplicates
display(merged)

,HHID,HH_VALID,IMPHHDATA,DEELNAMEHH,JAAR,HHAUTO_N,AUTO1,AUTO1_KM,AUTO1_AANSCHAF,AUTO1_HFDGBR,...,COR_STUDIE_S2,COR_STUDIE_S3,COR_STUDIE_S4,COR_STUDIE_S5,COR_STUDIE_S7,COR_STUDIE_S6,COR_STUDIE_LOCATIE_S1,COR_STUDIE_LOCATIE_S2,COR_STUDIE_LOCATIE_S3,COR_STUDIE_LOCATIE_S4
0,30000715.0,1.0,2.0,2017.0,2019.0,1.0,1.0,2.0,1.0,2.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
1,30001201.0,2.0,2.0,2017.0,2019.0,2.0,1.0,4.0,1.0,2.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
2,30001210.0,2.0,2.0,2013.0,2019.0,1.0,1.0,1.0,1.0,1.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,4.0,2.0,4.0,4.0
3,30001492.0,2.0,2.0,2017.0,2019.0,1.0,1.0,2.0,1.0,1.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
4,30001531.0,2.0,2.0,2017.0,2019.0,1.0,1.0,1.0,1.0,1.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,80000211.0,0.0,2.0,2020.0,2019.0,0.0,0.0,0.0,0.0,0.0,...,3.0,5.0,5.0,5.0,5.0,5.0,99998.0,99998.0,99998.0,99998.0
3496,80000212.0,0.0,2.0,2020.0,2019.0,1.0,1.0,6.0,1.0,2.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
3497,80000213.0,0.0,2.0,2020.0,2019.0,1.0,1.0,2.0,1.0,1.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
3498,80000214.0,0.0,2.0,2020.0,2019.0,2.0,1.0,4.0,1.0,1.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
3499,80000215.0,2.0,2.0,2020.0,2019.0,1.0,1.0,3.0,1.0,1.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0

In [12]:
# Correlation matrix
column_headers = merged.columns
for columns in column_headers:
    print(columns)

HHID
HH_VALID
IMPHHDATA
DEELNAMEHH
JAAR
HHAUTO_N
AUTO1
AUTO1_KM
AUTO1_AANSCHAF
AUTO1_HFDGBR
AUTO1_INRICHT
AUTO1_PRIVE
AUTO1_HLID1
AUTO1_HLID2
AUTO1_HLID3
AUTO2
AUTO2_KM
AUTO2_AANSCHAF
AUTO2_HFDGBR
AUTO2_PRIVE
AUTO2_HLID1
AUTO3
AUTO4
AUTO5
KAUTO1_BOUWJAAR
KAUTO2_BOUWJAAR
PERSOON
PERSID
P_VALID
VPLID
WEGGEWEEST
VERTREKP
AANTVPL
VPLDAGNR
VERPL
VERPLNR
TOER
TOER_TYPE
AANTRIT
DOEL
MOTIEF
KMOTIEF
VERTPROV
AANKPROV
AFSTV
AFSTV_ORG
G_AFSTAND
KAFSTV
HVM
KHVM
KVERTTIJD
REISDUUR
KREISDUUR
REISDUUR_ORG
G_REISDUUR
ROLAUTO
PARKEERKOSTEN
VERTRAGING
AutoSoort
RitID
RIT
RITNR
RVM
KRVM
Bestuurder
SAMENREIZEN
CORRECTIE_VVM
MARKERING_VVM
CORRECTIE_AFSTAND
CORRECTIE_REISTIJD
MARKERING_REISTIJD1
MARKERING_REISTIJD2
MARKERING_AFSTAND
MARKERING_OVERIG
vlokatie_centrumsgw
vlokatie_opafrit
vlokatie_icknooppunt
vlokatie_station
vlokatie_metrosneltramhalte
vlokatie_tramhalte
vlokatie_bushalte4xpu
vlokatie_bushalte2xpu
vlokatie_bushalte1xpu
vlokatie_bushaltekl1xpu
alokatie_centrumsgw
alokatie_opafrit
alokatie_icknooppunt
alokatie_station
alokatie_metrosneltramhalte
alokatie_tramhalte
alokatie_bushalte4xpu
alokatie_bushalte2xpu
alokatie_bushalte1xpu
alokatie_bushaltekl1xpu
WOONPC2
DAGSOORT
VERTPC2
AANKPC2
REISGEDRAG
REISGEDRAG_ANDERS1
REISGEDRAG_ANDERS2
REISGEDRAG_ANDERS3
REISGEDRAG_ANDERS4
REISGEDRAG_ANDERS5
REISGEDRAG_ANDERS_REDEN1
REISGEDRAG_ANDERS_REDEN2
REISGEDRAG_ANDERS_REDEN3
REISGEDRAG_ANDERS_REDEN4
REISGEDRAG_ANDERS_REDEN5
REISGEDRAG_ANDERS_REDEN6
REISGEDRAG_ANDERS_REDEN7
REISGEDRAG_ANDERS_REDEN8
REISGEDRAG_ANDERS_REDEN9
REDENNW1
REDENNW2
REDENNW3
REDENNW6
REDENNW7
REDENNW8
REDENNW9
REDENNW10
REDENNW11
REDENNW5
VPLDAGEN_GEM
PERSID_GK
STED_GM
COROP
HHPERS
HHSAM
GEZINSCYCLUS
N_KIND
HHBRUTOINK2_w5
HHAUTO
HHBESTEL
HHHYBRID
HHPARK1
HHPARK2
HHPARK3
HHPARK4
KILOMETRAGE
wlokatie_centrumsgw
wlokatie_opafrit
wlokatie_icknooppunt
wlokatie_station
wlokatie_metrosneltramhalte
wlokatie_tramhalte
wlokatie_bushalte4xpu
wlokatie_bushalte2xpu
wlokatie_bushalte1xpu
wlokatie_bushaltekl1xpu
WAVE6
WAVE4
WAVE2
OORDEEL_AUTO
GEBRUIK_AUTO_STELLING1
GEBRUIK_AUTO_STELLING2
GEBRUIK_AUTO_STELLING3
GEBRUIK_AUTO_STELLING4
GEBRUIK_AUTO_STELLING5
GEBRUIK_AUTO_STELLING6
GEBRUIK_AUTO_STELLING7
BELANG_STELLING1
BELANG_STELLING2
BELANG_STELLING3
BELANG_STELLING4
BELANG_STELLING5
BELANG_STELLING6
BELANG_STELLING7
VVM_OPENBAAR
VVM_TOEKOMST_ANDERS_AUTO
COR_BTM_SUBST_3
COR_BTM_SUBST_4
COR_TREIN_SUBST_3
COR_OV_SUBST_AUTO_ERV_S1
COR_OV_SUBST_AUTO_ERV_S2
COR_OV_SUBST_AUTO_ERV_S3
SWLS_S1
SWLS_S2
SWLS_S3
SWLS_S4
SWLS_S5
MENTALE_GEZONDHEID_S1
MENTALE_GEZONDHEID_S2
MENTALE_GEZONDHEID_S3
MENTALE_GEZONDHEID_S4
MENTALE_GEZONDHEID_S5
THUISWERKEN_MOGELIJK
WERK_TPO_1_STELLING_S0
WERK_TPO_1_STELLING_S1
WERK_TPO_1_STELLING_S15
WERK_TPO_1_STELLING_S16
WERK_TPO_1_STELLING_S2
WERK_TPO_1_STELLING_S3
WERK_TPO_1_STELLING_S4
WERK_TPO_1_STELLING_S5
WERK_TPO_1_STELLING_S6
WERK_TPO_1_STELLING_S10
WERK_TPO_1_STELLING_S11
WERK_TPO_1_STELLING_S12
WERK_TPO_1_STELLING_S13
WERK_TPO_1_STELLING_S14
WERK_TPO_1_STELLING_S17
WERK_TPO_1_STELLING_S9
COR_THUISWERK_TOEKOMST_UREN
COR_STUDIE_S1
COR_STUDIE_S2
COR_STUDIE_S3
COR_STUDIE_S4
COR_STUDIE_S5
COR_STUDIE_S7
COR_STUDIE_S6
COR_STUDIE_LOCATIE_S1
COR_STUDIE_LOCATIE_S2
COR_STUDIE_LOCATIE_S3
COR_STUDIE_LOCATIE_S4

,HHID,HH_VALID,IMPHHDATA,DEELNAMEHH,JAAR,HHAUTO_N,AUTO1,AUTO1_KM,AUTO1_AANSCHAF,AUTO1_HFDGBR,...,COR_STUDIE_S2,COR_STUDIE_S3,COR_STUDIE_S4,COR_STUDIE_S5,COR_STUDIE_S7,COR_STUDIE_S6,COR_STUDIE_LOCATIE_S1,COR_STUDIE_LOCATIE_S2,COR_STUDIE_LOCATIE_S3,COR_STUDIE_LOCATIE_S4
16,30005852.0,2.0,2.0,2014.0,2019.0,5.0,1.0,1.0,2.0,4.0,...,6.0,6.0,6.0,6.0,6.0,6.0,99998.0,99998.0,99998.0,99998.0
997,30468758.0,2.0,2.0,2013.0,2019.0,6.0,1.0,1.0,1.0,1.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
2028,30852757.0,0.0,2.0,2017.0,2019.0,6.0,1.0,1.0,2.0,1.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
2254,30864096.0,2.0,2.0,2013.0,2019.0,5.0,1.0,2.0,1.0,3.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0
3377,80000093.0,0.0,2.0,2020.0,2019.0,5.0,1.0,2.0,1.0,4.0,...,99998.0,99998.0,99998.0,99998.0,99998.0,99998.0,5.0,4.0,3.0,4.0